.column {
  width: 300px;
  float: left;

}


.sidebar{
  width: 30%;
  float: center;
  background-color: gold
  margin: 100px;
}

.box_model{
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  float:left;
  width: 200px;


}

.about{
  border: 1px solid gold;
  padding: 20px;
  margin: 10px;
  float: right;
  width: 300px;
  height: auto;


}
